{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block content%}
<h1>What is Breast Cancer?</h1>
<p>Breast cancer, being a prevalent form of cancer across the globe, accounts for about 27.7% of detected cancers in
    women in India. The main causes of breast cancer in women are smoking, drinking, obesity, excessive stress, and
    other determinants. A sharp rise in cases has been recorded in Indian women, wherein a report from 2018 states that
    about 162,468 cases and 87,900 deaths were recorded, all due to breast cancer. The year 2020 recorded 2.3 million
    cases of breast cancer and 685,000 fatalities across the globe. Its occurrence and fatality rates are also dependent on
    various factors, such as lack of access to medical facilities, annual income, living environment, etc., and vary from
    country to country. Some countries oversaw an increase in the fatality rates, especially those that have large sections
    of the demographic classed as ‘low-to-middle income’. This is probably a result of a lack of access to resources.
    Studies conducted recently depict that on average, every tenth woman is in grave danger of contracting breast cancer,
    with it resulting in the fatalities of women who are aged between 35 and 54. Yearly, roughly 27% of new cases are that
    of breast cancer. Hence, it is of foremost importance to educate women about the same and help them take part in
    screening examinations, which could possibly unearth the detection of some form of cancerous growth and could
    potentially save lives.</p>
{%endblock%}